<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>📊 Dashboard Page</h1>
    <p>This is dashboard.jinja2</p>

    <a href="/">Back to Home</a>
</body>
</html>
